{font-size: 20px;
text-align: center;}

p{text-align: left}
h1 {padding-left: 20px; padding-right: 50px}
h4 {padding-left: 20px; padding-right: 50px}
h3 {padding-right: 50px}
h3{padding-left: 20px; padding-right: 50px}
body{padding-left: 20px}
